printWidth: 140
singleQuote: true
tabWidth: 2
useTabs: false
arrowParens: avoid
bracketSameLine: true
bracketSpacing: true
semi: true  # Ensure semicolons are used
endOfLine: auto
plugins:
  - prettier-plugin-packagejson
  - prettier-plugin-java
overrides:
  - files: "*.java"
    options:
      tabWidth: 4
