<div class="row">
  <div class="col-12">
    <!--   Search bar -->
  </div>
  <!--<div class="col-12">
    <div class="card">
      <h5>suggestions</h5>
      <p-toast></p-toast>
      <p-table [value]="[]" dataKey="name"  responsiveLayout="scroll">
        <ng-template pTemplate="caption">
          <div class="flex table-header">
          </div>
        </ng-template>
        <ng-template pTemplate="header">
          <tr>
            <th style="width: 3rem"></th>
            <th pSortableColumn="name">Name <p-sortIcon field="name"></p-sortIcon></th>
            <th pSortableColumn="type">Type <p-sortIcon field="type"></p-sortIcon></th>
            <th pSortableColumn="location">Location <p-sortIcon field="location"></p-sortIcon></th>
            <th pSortableColumn="status">Status <p-sortIcon field="status"></p-sortIcon></th>
            <th pSortableColumn="lastModified">Last Changed <p-sortIcon field="lastModified"></p-sortIcon></th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-product let-expanded="expanded">
          <tr>
            <td>
              <button type="button" pButton pRipple [pRowToggler]="product" class="p-button-text p-button-rounded p-button-plain" [icon]="expanded ? 'pi pi-chevron-down' : 'pi pi-chevron-right'"></button>
            </td>
            <td style="min-width: 12rem;">{{product.name}}</td>
            <td><img [src]="'assets/demo/images/product/' + product.image" [alt]="product.name" width="100" class="shadow-4" /></td>
            <td style="min-width: 8rem;">{{product.price | currency:'USD'}}</td>
            <td style="min-width: 10rem;">{{product.category}}</td>
            <td style="min-width: 10rem;"><p-rating [ngModel]="product.rating" [readonly]="true" [cancel]="false"></p-rating></td>
            <td><span [class]="'product-badge status-' + product.inventoryStatus.toLowerCase()">{{product.inventoryStatus}}</span></td>
          </tr>
        </ng-template>
        <ng-template pTemplate="rowexpansion" let-product>
          <tr>
            <td colspan="7">
              <div class="p-3">
                <p-table [value]="product.orders" dataKey="id" responsiveLayout="scroll">
                  <ng-template pTemplate="header">
                    <tr>
                      <th pSortableColumn="id">Id <p-sortIcon field="price"></p-sortIcon></th>
                      <th pSortableColumn="customer">Customer <p-sortIcon field="customer"></p-sortIcon></th>
                      <th pSortableColumn="date">Date <p-sortIcon field="date"></p-sortIcon></th>
                      <th pSortableColumn="amount">Amount <p-sortIcon field="amount"></p-sortIcon></th>
                      <th pSortableColumn="stats">Status <p-sortIcon field="status"></p-sortIcon></th>
                      <th style="width: 4rem"></th>
                    </tr>
                  </ng-template>
                  <ng-template pTemplate="body" let-order>
                    <tr>
                      <td>{{order.id}}</td>
                      <td>{{order.customer}}</td>
                      <td>{{order.date}}</td>
                      <td>{{order.amount | currency:'USD'}}</td>
                      <td><span [class]="'order-badge order-' + order.status.toLowerCase()">{{order.status}}</span></td>
                      <td><p-button type="button" icon="pi pi-search"></p-button></td>
                    </tr>
                  </ng-template>
                  <ng-template pTemplate="emptymessage">
                    <tr>
                      <td colspan="6">There are no order for this product yet.</td>
                    </tr>
                  </ng-template>
                </p-table>
              </div>
            </td>
          </tr>
        </ng-template>
      </p-table>
    </div>!-->

  <div class="col-md-12">
    <h1 class="display-4"><span jhiTranslate="home.title"></span> (Next Dms)</h1>

    <p class="lead" jhiTranslate="home.subtitle">This is your homepage</p>

    <div>
      @if (account() !== null) {
        <div class="alert alert-success">
          @if (account(); as accountRef) {
            <span id="home-logged-message" jhiTranslate="home.logged.message" [translateValues]="{ username: accountRef.login }"
              >You are logged in as user &quot;{{ accountRef.login }}&quot;.</span
            >
          }
        </div>
      } @else {
        <div class="alert alert-warning">
          <span jhiTranslate="global.messages.info.authenticated.prefix">If you want to </span>
          <a class="alert-link" (click)="login()" jhiTranslate="global.messages.info.authenticated.link">sign in</a
          ><span jhiTranslate="global.messages.info.authenticated.suffix"
            >, you can try the default accounts:<br />- Administrator (login=&quot;admin&quot; and password=&quot;admin&quot;) <br />- User
            (login=&quot;user&quot; and password=&quot;user&quot;).</span
          >
        </div>

        <div class="alert alert-warning">
          <span jhiTranslate="global.messages.info.register.noaccount">You don&apos;t have an account yet?</span>&nbsp;
          <a class="alert-link" routerLink="/account/register" jhiTranslate="global.messages.info.register.link">Register a new account</a>
        </div>
      }
    </div>
  </div>
</div>
